header
	@media screen and (min-width: mq--tablet)
		text-align center
	h1
		color color--medium-grey
	h1.onpoint_title
		display none
		@media screen and (min-width: mq--tablet)
			display block
			padding .15em 0
		span
			@media screen and (min-width: mq--tablet)
				vertical-align middle
		a
			
			span.onpoint_title_text
				@media screen and (min-width: mq--tablet)
					display inline-block
					line-height 1.5em
					padding 0 0 0 0
					text-stroke 1px
	a
		text-decoration none
		color color--dark-grey 
		@media screen and (min-width: mq--tablet)
			display inline-block
		&:hover
			text-decoration none
			@media screen and (min-width: mq--tablet)
				color color--black
	.icon-onpoint
		color color--primary
		margin-left 18px
		font-size 86px
		text-stroke 0
		display inline-block
	input#search
		font-family FontAwesome
		font-style normal
		font-size 1em
		line-height 1.5em
		font-weight normal
		text-decoration inherit
		border solid 2px color--white-blue
		padding 1.5em 1em
		margin 1em 0 0 0
		&:focus
			border-color color--primary
	div.addpoint
		position fixed
		bottom 0
		right 10px
		z-index 100 
		@media screen and (min-width: mq--tablet)
			position absolute
			right .5em
			top .25em
		a
			padding 0
			display inline-block
			float: right
			font-size 2.5em
			color color--primary
			@media screen and (min-width: mq--tablet)
				padding .5em 0 .5em .5em
			&:hover
				color color--blue-grey
				text-decoration none
	