head
	if (title)
		title #{title} | On Point
	if (!title)
		title On Point

	//- Meta elements
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	//- Stylesheets
	link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
	link(rel='stylesheet', href='/scripts/jquery-ui-1.11.3/jquery-ui.css')
	link(rel='stylesheet', href='/fonts/lane-narrow/stylesheet.css')
	link(rel='stylesheet', href='/fonts/on-point/styles.css')
	link(rel='stylesheet', href='/fonts/font-awesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/stylesheets/frameworks/normalize.css')
	link(rel='stylesheet', href='/stylesheets/frameworks/skeleton.css')
	link(rel='stylesheet', href='/stylesheets/frameworks/gridrotator.css')
	link(rel='stylesheet', href='/stylesheets/index.css')