head
	if (title)
		title #{title} | On Point
	if (!title)
		title On Point

	//- Meta elements
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	//- Stylesheets
	link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
	link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
	link(rel='stylesheet', href='/fonts/lane-narrow/stylesheet.css')
	link(rel='stylesheet', href='/fonts/on-point/styles.css')
	link(rel='stylesheet', href='/fonts/font-awesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/stylesheets/frameworks/normalize.css')
	link(rel='stylesheet', href='/stylesheets/frameworks/skeleton.css')
	link(rel='stylesheet', href='/stylesheets/frameworks/gridrotator.css')
	link(rel='stylesheet', href='/stylesheets/index.css')
	if (user)
		style.
			span.user_icon_wrap {
				position: relative;
				overflow: hidden;
				background: #222 !important;
			}
			span.user_icon_wrap:before {
				content: '';
				display: block;
				position: absolute;
				top: 0; left: 0; width: 100%; height: 100%;
				z-index: 1 !important; opacity: 0.4 !important;
				background: url(#{user.picture}) !important;
				background-size: cover !important;
				background-repeat: no-repeat;
			}
			span.user_icon_wrap:hover {
				background: #444 !important;
			}