script(src='/scripts/jquery-2.1.3.min.js')
script(src='/scripts/jquery-ui-1.11.3/jquery-ui.min.js')
script(src='/scripts/modernizr.custom.26633.js')
script(src='/scripts/jquery.gridrotator.js')
script(src='/scripts/scripts.js')