script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
script(src='../scripts/modernizr.custom.26633.js')
script(src='../scripts/jquery.gridrotator.js')
script(src='../scripts/scripts.js')