extends layout

block content
	if (!user)
		div
			a(href="/login") Login
		div
			a(href="/register") Register
	if (user)
		p Currently logged in as #{user.username}
		div
			a(href="/logout") Logout

