extend layout

block content
	section#help.container
		h1 Help Center
		ul
			li
				h4 What is On Point?
				p “On Point,” is a social travel platform that allows people to share their insider knowledge of cities around the world, showcasing their picks of everything from the classic must-do’s to the up-and-coming hidden alleyways. On Point’s target users are curious travelers who visit cities and want to wander like a local as well as people who enjoy traveling and sharing their recommendations.
			li
				h4 Who can use On Point?
				p Anybody can get on the site and explore our vast collection of points in order to help plan a trip, but keep in mind that certain features are available only to users that have created an account.
			li
				h4 Is On Point mobile friendly??
				p Of course! Users can access it from tablets, smartphones, or laptops if they are already out and about exploring the world and wondering where to go next.
			li
				h4 What are the benefits of having an account?
				p With an account, there are many features that you can get access to, such as adding points to the database, uploading photos to a point, writing comments, creating a list of “Favorite Points,” and more! 
			li
				h4 What information is needed in order to create an account?
				p There are two ways to create an account. The first is through Facebook, in which we only take your name and email address. The second, you can use On Point’s form to create an account with a username, full name, email, and password. That’s it! This information will never be shared with any third-party sites.
			li
				h4 How do I add a point?
				p On the desktop version, simply look for the icon on the upper right corner, enter the name, address, city, state, a picture, and a short common and then click on “Save Point”. On the mobile version, the icon is in the lower right corner, and fill out the form. It’s that simple!