extend layout

block content
	section#settings.container
		h1 Settings
		if (user)
			ul
				#{JSON.stringify(user.email)}
				li
					strong Username: 
					span #{user.username}
				li
					strong Full Name: 
					span #{user.fullName}
				li
					strong E-mail: 
					span #{user.email}