extend layout

block content
	section#messages.container
		p
			strong= info
	section#signin_accounts.container
		div#signin.one-half.column
			h3 Sign-In
			form(action="/auth/facebook")
				button.fb_login
					i.fa.fa-facebook
					| Login with Facebook
			hr
			form(action="/signin" method="post")
				input(type="text", name="username", placeholder="Username", value=signin_username).u-full-width
				input(type="password", name="password", placeholder="Password").u-full-width
				input(type="submit", value="Sign In")
		div#joinus.one-half.column
			h3 Join Us
			form(action="/auth/facebook")
				button.fb_login
					i.fa.fa-facebook
					| Sign up with Facebook
			hr
			p Or create an account using your email address
			form(action="/register", method="post")
				input(type="text", name="fullName", placeholder="Full Name").u-full-width
				input(type="text", name="username", placeholder="Username", value=join_username).u-full-width
				input(type="email", name="email", placeholder="E-mail").u-full-width
				input(type="password", name="password", placeholder="Password").u-full-width
				input(type="submit", value="Join Us")