extend layout

block content
	section#discover.container
		h1 Discover
		p this page will show popular users, popular point grid, etc. helps people find people to follow
		p this will be the news feed page
		p each point listing should have a button in the corner to add to collection