extend layout

block content
	section#help.container
		h1 Help Center
		ul
			li
				h4 What is On Point?
				p This project, called “On Point,” is a social travel platform that allows people to share their insider knowledge of cities around the world, showcasing their picks of everything from the classic must-do’s to the up-and-coming hidden alleyways.  On Point’s target users are curious travelers who visit cities and want to wander like a local as well as people who enjoy traveling and sharing their recommendations.
			li
				h4 Who made this?
				p Emily Roth, Devin Nguyen, Pinyuan (Doris) Xian, Jonathan Yax, and Aidan Pelisson