extend layout

block searchbar
	form
		input#search.u-full-width(type="search", placeholder!="&#xF002;")

block content
	div.container
		div#imagegrid
			div#ri-grid.ri-grid.ri-grid-size-2
				img.ri-loading-image(src="/images/loading.gif")
				ul
					li
						a(href='#')
							img(src='/images/sample_grid/sample_001.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_002.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_003.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_004.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_005.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_006.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_007.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_008.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_009.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_010.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_011.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_012.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_013.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_014.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_015.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_016.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_017.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_018.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_019.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_020.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_021.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_022.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_023.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_024.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_025.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_026.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_027.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_028.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_029.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_030.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_031.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_032.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_033.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_034.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_035.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_036.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_037.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_038.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_039.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_040.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_041.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_042.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_043.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_044.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_045.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_046.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_047.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_048.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_049.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_050.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_051.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_052.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_053.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_054.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_055.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_056.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_057.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_058.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_059.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_060.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_061.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_062.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_063.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_064.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_065.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_066.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_067.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_068.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_069.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_070.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_071.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_072.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_073.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_074.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_075.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_076.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_077.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_078.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_079.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_080.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_081.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_082.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_083.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_084.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_085.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_086.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_087.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_088.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_089.JPG')
					li
						a(href='#')
							img(src='/images/sample_grid/sample_090.JPG')
	div.container
		div#featured_cities
			div.row
				div#nyc.six.columns.city
					a(href="#")
						span New York Metropolitan Area
				div#bos.six.columns.city
					a(href="#")
						span Greater Boston Area
			div.row
				div#alb.six.columns.city
					a(href="#")
						span Albany Capital Distict
				div#sf.six.columns.city
					a(href="#")
						span San Francisco Bay Area

