extend layout

block searchbar
	//- no search bar

block content
	section.point_breadcrumbs
		div.crumbs.container
			ul
				li
					a(href="/") Home &rarr;
				li
					a(href="/region") San Francisco Bay Area &rarr;
				li
					a(href="#") #thatSFtree
	section#point_display.container
		section#point_data.one-half.column
			div.point_name
				h2 #thatSFtree
				ul.address
					li Mt. Davidson
					li San Francisco, CA
			div.point_share
				ul.point_item_share
					li
						a(href="#")
							i.fa.fa-link
							| Link
					li
						a(href="#")
							i.fa.fa-plus-square
							| Add to My Points
			div.point_comments
				ul
					li "Highest point in San Francisco"
						span.author Sally S.
					li "Most photogenic tree in all the land."
						span.author John S.
		section#point_visual.one-half.column
			div.point-grid.ri-grid
				img(src="images/loading.gif").ri-loading-image
				ul
					li
						a(href="#")
							img(src="images/sample_point/point_001.JPG")
					li
						a(href='#')
							img(src='images/sample_point/point_002.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_003.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_004.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_005.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_006.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_007.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_008.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_009.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_010.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_011.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_012.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_013.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_014.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_015.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_016.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_017.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_018.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_019.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_020.JPG')
					li
						a(href='#')
							img(src='images/sample_point/point_021.JPG')
