extend layout

block searchbar
	//- no searchbar

block content
	div#regions_nav_wrap.container
		ul#regions_nav
			li.three.columns.city.active
				a(href="#", data-show-region="show_nyc") New York Metropolitan
			li.three.columns.city
				a(href="#", data-show-region="show_bos") Greater Boston
			li.three.columns.city
				a(href="#", data-show-region="show_alb") Albany Capital District
			li.three.columns.city
				a(href="#", data-show-region="show_sf") San Francisco Bay

	div.container
		div#featured_cities.featured_regions
			div#show_nyc.featured_region.curr_region
				div.row
					div#manhattan.four.columns.city
						a(href="#")
							span Manhattan
					div#longisland.four.columns.city
						a(href="#")
							span Long Island
					div#statenisland.four.columns.city
						a(href="#")
							span Staten Island
				div.row
					div#queens.four.columns.city
						a(href="#")
							span Queens
					div#brooklyn.four.columns.city
						a(href="#")
							span Brooklyn
					div#bronx.four.columns.city
						a(href="#")
							span Bronx
				div.row
					div#lehighvalley.four.columns.city
						a(href="#")
							span Lehigh Valley
					div#poconos.four.columns.city
						a(href="#")
							span Southern &amp; Eastern Poconos
			div#show_bos.featured_region
				div.row
					div#boston.four.columns.city
						a(href="#")
							span Boston
					div#cambridge.four.columns.city
						a(href="#")
							span Cambridge
					div#framingham.four.columns.city
						a(href="#")
							span Framingham
				div.row
					div#lexington.four.columns.city
						a(href="#")
							span Lexington
					div#newton.four.columns.city
						a(href="#")
							span Newton
					div#peabody.four.columns.city
						a(href="#")
							span Peabody
				div.row
					div#quincy.four.columns.city
						a(href="#")
							span Quincy
					div#waltham.four.columns.city
						a(href="#")
							span Waltham
			div#show_alb.featured_region
				div.row
					div#albany.four.columns.city
						a(href="#")
							span Albany
					div#troy.four.columns.city
						a(href="#")
							span Troy
					div#schenectady.four.columns.city
						a(href="#")
							span Schenectady
				div.row
					div#saratogasprings.four.columns.city
						a(href="#")
							span Saratoga Springs
					div#hudson.four.columns.city
						a(href="#")
							span Hudson
					div#rensselaer.four.columns.city
						a(href="#")
							span Rensselaer
				div.row
					div#cohoes.four.columns.city
						a(href="#")
							span Cohoes
					div#watervliet.four.columns.city
						a(href="#")
							span Watervliet
			div#show_sf.featured_region
				div.row
					div#sanfrancisco.four.columns.city
						a(href="#")
							span San Francisco
					div#sanjose.four.columns.city
						a(href="#")
							span San Jose
					div#oakland.four.columns.city
						a(href="#")
							span Oakland

