head
	title #{title} | On Point

	//- Meta elements
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	//- Stylesheets
	link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
	link(rel='stylesheet', href='/fonts/lane-narrow/stylesheet.css')
	link(rel='stylesheet', href='/fonts/on-point/styles.css')
	link(rel='stylesheet', href='/fonts/font-awesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/stylesheets/frameworks/skeleton.css')
	link(rel='stylesheet', href='/stylesheets/frameworks/normalize.css')
	link(rel='stylesheet', href='/stylesheets/frameworks/gridrotator.css')
	link(rel='stylesheet', href='/stylesheets/index.css')