nav
	div#user
		a(href="/signin")
			span.user_icon_wrap
				span.icon_wrap
					span.icon
						i.fa.fa-lock
					span.icon_title Sign In
	ul#logo
		li 
			h1.onpoint_title
				a(href="/")
					span.onpoint_title_text On Point
					span.icon-onpoint
	ul#functions
		li
			a(href="/", class=(active === 'home' ? 'current' : ''))
				span.icon
					span.icon-home
				span.icon_title home
		li
			a(href="/regions", class=(active === 'regions' ? 'current' : ''))
				span.icon
					span.icon-regions
				span.icon_title regions
		li
			a(href="/discover", class=(active === 'discover' ? 'current' : ''))
				span.icon
					span.icon-discover
				span.icon_title discover
		li
			a(href="/search", class=(active === 'search' ? 'current' : ''))
				span.icon
					span.icon-search
				span.icon_title search
		li#userprofile
			a(href="/profile", class=(active === 'user' ? 'current' : ''))
				span.icon
					span.icon-user
				span.icon_title user
	ul#settings
		li
			a(href="/settings")
				span.icon-setting
		li
			a(href="/help")
				span.icon-help