// This is from NIB /lib/nib/
global-reset()

html
	box-sizing border-box
	
*, *:before, *:after
	box-sizing inherit

body
	font-family lane-narrow, Hevetica Neue, Arial, sans-serif
	font-weight 200
	font-size 16px
	overflow scroll
	overflow-x hidden