/*****************
 * INDEX
 ****************/
 
main
	@media screen and (min-width: mq--tablet)
		margin-left 175px 

div#imagegrid
	display none
	@media screen and (min-width: mq--tablet)
		display block
		margin 1em 0

div#featured_cities
	margin 2em auto
	overflow hidden
	div.city
		margin-bottom 1em
		border-radius 10px
		position relative
		a
			display block
			height 275px
			span
				display inline-block
				color color--white
				text-stroke 1px color--white
				position absolute
				bottom 0
				background rgba(color--primary, .8)
				border-radius 0 0 10px 10px
				width 100%
				text-align center
				padding .5em .25em
				font-size 16px 
				letter-spacing 1px 
			&:hover span
				background color--primary			 
	#sf
		background url(../../images/city_thumbs/sf.JPG)
		background-size cover
		background-position center
	#nyc
		background url(../../images/city_thumbs/nyc.JPG)
		background-size cover
		background-position center
	#bos
		background url(../../images/city_thumbs/bos.JPG)
		background-size cover
		background-position center
	#alb
		background url(../../images/city_thumbs/alb.JPG)
		background-size cover
		background-position center
		
		
/*****************
 * REGIONS
 ****************/
div#regions_nav
	list-style none
	text-align center
	a
		display block
		font-size 22px
		color color--dark-grey
		padding 5px
		text-align center
		word-break break-word
		hyphens auto
		&:hover
			text-decoration none
	.city
		@media screen and (max-width: mq--mobile)
			margin 3px 0
		@media screen and (min-width: mq--phablet)
			display inline-block
			// margin 0 0 0 4%
	.city.active a, a:hover
		background color--primary
		border-radius 5px
		color color--white
		@media screen and (min-width: mq--phablet)
			background none
			color color--dark-grey
div.featured_regions
	div.featured_region
		display none
		.curr_region
			display block
	#newyorkcity
		background url(../../images/city_thumbs/manhattan.jpg)
		background-size cover
		background-position center
	#longisland
		background url(../../images/city_thumbs/longisland.jpg)
		background-size cover
		background-position center
	#northernnj
		background url(../../images/city_thumbs/manhattan.jpg)
		background-size cover
		background-position center
	#centralnj
		background url(../../images/city_thumbs/manhattan.jpg)
		background-size cover
		background-position center
	#centralnj
		background url(../../images/city_thumbs/manhattan.jpg)
		background-size cover
		background-position center
	#hudsonvalley
		background url(../../images/city_thumbs/manhattan.jpg)
		background-size cover
		background-position center
	#westernct
		background url(../../images/city_thumbs/manhattan.jpg)
		background-size cover
		background-position center
	#lehighvalley
		background url(../../images/city_thumbs/manhattan.jpg)
		background-size cover
		background-position center
	#poconos
		background url(../../images/city_thumbs/manhattan.jpg)
		background-size cover
		background-position center